{% extends "layout/layout.twig" %}

{% block main %}



    <h2>Paramètres personnels</h2>

    <article>
        <h3>Bienvenue dans votre espace utilisateur {{ name }}</h3>
        <p>Pour modifier vos informations personnelles, utilisez le formulaire ci dessous.</p>

        <fieldset>
            <legend><i class="fas fa-pen-square fa-fw fa-lg"></i>Vos nouvelles informations (seul votre nom sera affiché avec vos commentaires)</legend>
            <form action="{{ url('users!useredit', {'id': session.users.id }) }}" method="post">


                <label for="name">Nom affiché</label>
                <input id="name" type="text" name="name" value="{{ session.users.name }}" required>


                <label for="email">Email de contact</label>
                <input id="email" type="email" name="email" value="{{ session.users.email }}" required>

                <label for="pass">Mot de passe</label>
                <input id="pass" type="password" name="pass" value="{{ session.users.pass }}" required>

                <input type="submit" value="Mettre à jour">

            </form>


            <section>

                <h4>Pour supprimer votre compte ainsi que vos données personnelles, utilisez le bouton ci-dessous</h4>
                <p class="warning"> ATTENTION : toute suppression de compte est définitive</p>
                <a href="{{ url("users!delete", {'id': id}) }}">
                    <button class="link-remove white" type="button">
                        <i class="fas fa-exclamation-triangle"></i> Supprimer mon compte utilisateur <i class="fas fa-exclamation-triangle"></i>
                    </button>

            </section >

        </fieldset>
    </article>








{% endblock %}