
{% extends "layout/layout.twig" %}

{% block main %}

    <!DOCTYPE html>
    <html>
    <head>
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>tinymce.init({ selector:'textarea' });</script>
    </head>
    </html>


        <h2 id="top">Panneau de contrôle :</h2>

        <header class="admin-absolut">

                    <a href="#chapters"><i class="fas fa-book"></i> Gestion des chapitres</a>
                    <a href="#comments"><i class="fas fa-comments"></i> Voir les commentaires signalés</a>
                    <a href="#users"><i class="fas fa-user"></i> Liste des utilisateurs enregistrés</a>

        </header>


        <article>
            <h3>Création d'un chapitre</h3>

            <form class="article-writing" method="post" action="{{ url('articles!create') }}" enctype="multipart/form-data">
                <ul>
                    <li>
                        <label for="title">Titre</label>
                        <input id="title" type="text" name="title" placeholder="Titre">
                    </li>

                    <li>
                        <label for="content">Contenu du chapitre</label>
                        <textarea name="content" id="content"></textarea>
                    </li>

                    <li>
                        <button type="submit">Créer</button>
                    </li>
                </ul>
            </form>
        </article>

        <article class="admin-section">
            <h3 id="chapters">Espace de gestion des chapitres créés</h3>

            <table>

                <thead>
                <tr>
                    <th scope="col">Titre du chapitre</th>
                    <th scope="col">Editer / Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>
                            <a href="{{ url('Articles!modify', {'id': article.id}, {'id': comment.article_id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg"></i>
                            </a>
                            <a href="{{ url('Articles!delete', {'id': article.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3 id="comments">Espace de gestion des commentaires créés</h3>

            <table>

                <thead>
                <tr>
                    <th scope="col">Auteur</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Valider / Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    {% if comment.moderated == 1 %}
                        <tr>
                            <td class="reported-comment-line">{{ comment.author }} </td>
                            <td class="reported-comment-line">{{ comment.content | nl2br }} </td>
                            <td class="reported-comment-line"><a href="{{ url('Comments!approved', {'id': comment.id}) }}">Valider<i class="fas fa-check"></i></a></td>
                            <td class="reported-comment-line"><a class="btn-delete" href="#">Supprimer<i class="fas fa-times-circle fa-fw fa-lg"></i></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            <h3 id="users">Espace de gestion des utilisateurs inscrits</h3>

            <table>
                <caption>Tableau des utilisateurs</caption>
                <thead>
                <tr >
                    <th class="table-line" scope="col">nom affiché</th>
                    <th class="table-line" scope="col">Email</th>
                    <th class="table-line" scope="col">Supprimer utilisateur</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="table-line">{{ user.name }}</td>
                        <td class="table-line">{{ user.email }}</td>
                        <td class="table-line">
                            <a href="{{ url('Users!delete', {'id': user.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>


{% endblock %}