{% extends 'layout/layout.twig' %}



{% block content %}
    <h1> Modification de: {{ user.name }}</h1>
    <form action="{{ url('user!modify', {'id': user.id }) }}" method="post">
        <ul>
            <li>
                <label for="name">Prénom</label>
                <input id="name" type="text" name="name" value="{{ user.name }}" required>
            </li>

            <li>
                <label for="email">Email</label>
                <input id="email" type="email" name="email" value="{{ user.email }}" required>
            </li>
            <li>
                <label for="role">role</label>
                <select id="role" name="role" required>
                    <option value="{{ user.role }}" {{ selected }}>{{ user.role }}</option>
                    <option value="admin">Administrateur</option>
                    <option value="member">Membre</option>
                </select>
            </li>
        </ul>

        <ul>
            <li>
                <input type="reset" value="Reset">
                <input type="submit" value="Update">
            </li>
        </ul>
    </form>
    <a href="{{ url('user') }}">Panneau de contrôle</a>
{% endblock %}