{% extends 'layout/layout.twig' %}



{% block main %}
    <h1> Modification du chapitre {{ posts.id }}</h1>
    <ul>
        <li>
            <form action="{{ url('articles!modify', {'id': articles.id }) }}" method="post">
                <label for="title">Titre</label>
                <input id="title" type="text" name="title" value="{{ posts.title }}" required>
                <label for="content">Contenu</label>
                <textarea id="content" name="content" rows="5" cols="100" maxlength="255" required>{{ posts.content }}</textarea>
                <input type="reset" value="Reset">
                <input type="submit" value="Update">
            </form>
        </li>
        <li><h2>Commentaires associés:</h2></li>
        <li>
            <ul class="full-comment">
                {% for comment in comments %}
                    <ul class="comment-card">
                        <li>{{ comment.author }}</li>
                        <li>{{ comment.content | nl2br }}</li>
                        <li>{{ comment.created_date }}</li>
                        <li>
                            <a class="btn-grey" href="{{ url('comments!delete', {'id': comment.id}) }}">Suppression du commentaire
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{{ url('admin') }}">Panneau de contrôle</a></li>
    </ul>




{% endblock %}