{% extends 'layout/layout.twig' %}




{% block main %}
    <h2>Lecture du chapitre</h2>



    <article>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content | nl2br }}</p>
    </article>


    {% for comment in comments %}

    <p>Écrit par : <span>{{ comment.author }}</span>, le <span>{{ comment.created_date }}</span></p>
    <p>{{ comment.content | nl2br}}</p>

    {% endfor %}



    <nav>
        <ul>
            <li><a href="{{ url('post') }}">Retour aux chapitres</a></li>
            <li><a href="{{ url('home') }}">Retour à l'accueil</a></li>
        </ul>
    </nav>

{% endblock %}