<nav>
    <ul>

        {% block navbar %}
        <li>
            <a href="{{ url('home') }}" title="Home">
                <i class="fas fa-home fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a href= "{{ url('articles') }}" title="Tous les chapitres"><i class="fas fa-book-open"></i> Chapitres</a>
        </li>

            <li>
                <a href= "{{ url('users!launch') }}" title="Connexion"><i class=""></i> Connexion </a>
            </li>


            <li id="admin-link">
                <a href= "{{ url('users!adminredirect') }}" title="Administration"><i class=""></i> Administration </a>
            </li>


            <li>
                <a href="{{ url('users!logout') }}" title="Déconnexion">Déconnexion</a>
            </li>
        {% endblock %}

    </ul>
</nav>