{% block content %}







        <nav>

                <a href="{{ url('Home') }}" title="Home"> Accueil </a>



                <a href= "{{ url('Articles!launch') }}" title="Tous les chapitres"> Chapitres</a>



                <a href= "{{ url('Users!launch') }}" title="Connexion"> Connexion </a>



                <a href= "{{ url('Users!adminredirect') }}" title="Administration"> Administration </a>




                <a href="{{ url('Users!logout') }}" title="Déconnexion">Déconnexion</a>

        </nav>



{% endblock %}